.affected{
    background-image: url("../img/effect.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1000;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#bomb{
    z-index: 100;
    background-image: url("../img//icons8-bomb-40.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}