#controller {
  width: 40vw;
  height: auto;
  border-radius: 2vmin;
  border: 1px solid rgba(240, 237, 237, 0.582);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
  border: 1px #B99470 solid;
  background-color: #FEFAE0;
}

.controlBtn {
  padding: clamp(0.5rem, 1vw, 0.75rem) clamp(1.5rem, 2vw, 2.5rem);
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  background-color: #B99470;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 0.5px white solid;
}

.controlBtn:hover {
  background-color: #BEDC74;
  color: black;
}


.title {
  font-size: clamp(1.5rem, 5vw, 3rem);
  color: rgb(54, 52, 52);
}

#popup {
  background-color: bisque;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #B99470;
  color: white;
  border: 1px #BEDC74 solid;
  border-radius: 1vmin 0 1vmin 0;
  width: fit-content;
  padding: 10px 2%;
  font-size: medium;
  font-style: italic;
  z-index: 3;
}