/* ========== Enemy ========== */
.enemy {
    position: absolute;
    background-image: url("../img/monster.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    z-index: 10;
  }
  
  