* {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wall {
  display: flex;
  flex-direction: row;
}

.borders {
 background-color: rgb(103, 108, 107);
 box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.gate {
 background-image: url("../wall.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
.path {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.door-img{

  background-image: url("../door.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.path{
  background-color: rgb(7, 88, 61);
}
