*{
    box-sizing: border-box;
    background-repeat: no-repeat;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#container {
    width: fit-content;
    height: fit-content;
    display: flex;
   flex-direction: column;
}

#battleField{
    position: relative;
}

.wall{
   display: flex;
   flex-direction: row;
}

.solid{
    border: black solid 1px;
}

.gate{
    background-color: green;
}
