#hero {
  width: 50%;
  height: 80%;
  background-image: url("../mask_15542025.gif");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  /* border: black solid 1px; */
  position: absolute;
  z-index: 100;
}
