#hero {
  /* width: 32px;
  height: 32px; */
  background-image: url("../img/icons8-alien-32.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 101;
}

#hero img{
  width: 100%;
  height: 100%;
}
@keyframes boomOut {
  0% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.5) rotate(10deg);
    opacity: 0.7;
  }
  100% {
    transform: scale(0) rotate(720deg);
    opacity: 0;
    /* No need to reset position */
  }
}

.boom-out {
  animation: boomOut 0.6s ease forwards; /* Keeps final state */
}

