@import url(hero.css);
@import url(field.css);
@import url(bomb.css);
@import url(enemies.css);
@import url(controller.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    align-items: center;
    height: 100dvh;
    background-color: #C0C78C;
    background-size: cover;
    background-repeat: no-repeat;
}
.hidden{
    display: none;
}

.show{
    display: flex;
}

#story{
    width: 20vw;
    min-width: 300px;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 900;
font-size: x-large;
font-style: italic;
color: antiquewhite;
padding: 20px 10px;
border-radius: 2vmin 0 2vmin 0;
background-color: rgba(0, 0, 0, 0.247);
overflow-wrap: break-word;
z-index: 3;
}
